@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F6F9;
}

input {
  border-radius: 8px;
  padding-block: 5px 5px;
  padding-inline-start: 5px;
}

label {
  color: #1E2841;
  font-size: medium;
  font-weight: 600;
}

.submit-button {
  border-radius: 8px;
  background-color: #1E2841;
  color: #BED3DC;
  padding-block: 8px 8px;
  padding-inline: 40px 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 15px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1E2841;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}